include Cargo.toml
include pyproject.toml
include README.md
include LICENSE

# Exclude unnecessary directories
prune tests
prune target
prune wheelhouse

# Exclude example files
exclude example*
exclude *.lock
